<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-gogs-index") %>>
                    <a href="/docs/providers/gogs/index.html">Gogs Provider</a>
                </li>

                <li<%= sidebar_current("docs-gogs-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-gogs-repository") %>>
                            <a href="/docs/providers/gogs/d/repository.html">gogs_repository</a>
                        </li>
                        <li<%= sidebar_current("docs-gogs-datasource-user") %>>
                            <a href="/docs/providers/gogs/d/user.html">gogs_user</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-gogs-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-gogs-resource-repository") %>>
                            <a href="/docs/providers/gogs/r/repository.html">gogs_repository</a>
                        </li>
                        <li<%= sidebar_current("docs-gogs-resource-user") %>>
                            <a href="/docs/providers/gogs/r/user.html">gogs_user</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
